<div class="row">
  <div class="col-xs-6">
    <div id="cm-editor"></div>
  </div>
  <div class="col-xs-6">
    here comes the rendered preview
  </div>
</div>

<div class="cm-cursor" ng-repeat="user in users"
    ng-style="{left: user.cursor.left, top: user.cursor.top}">
</div>
